<div class="container-fluid">
    <div class="card">
        <div class="card-header">
          CONFIGURE LOS CAMPOS DEL ARCHIVO DE ENTRADA
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">ESQUEMA JSON</div>
                <div class="card">
                  <div class="card-body">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Mostrar
                    </button>
                    
                    <div class="collapse" id="collapseExample">
                      <hr>
                      <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
